@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Christopher Kim
   Date:   1.29.19

   Filename: ws_media.css

*/

/* VideoPlayer Styles */
/* This sets the size and how the video is displayed on the website */
video {
    display: block;
    width: 90%;
    margin: 5px auto;

}

/* This is a media query that displays the video a different way if your device is under 521px */
@media only screen and (min-width: 521px) {
    video  {
        width: 360px;
        float: right;
        margin: 10px;
    }
}

/* Track Styles */
/* These display the background of the text as white and the font as 1.3em it also sets the text color as a pink color. */
::cue {
    background: rgba(255, 255, 255, 0.8);
    font: 1.3em serif;
    color: rgb(221, 128, 160);
}

